img {
  width: 50%;
  height: 50%;
}

h1 {
  font-size: 30px;
}

#tagline {
  position: relative;
  left: 50%;
}

.navbar, h1, p {
  color: brown;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: orange;
}

li {
  display: inline;
}

li:hover {
  background-color: #FFE4C4;
}
